
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 400.8rem;
}.desktop-1-WGY {
  background: linear-gradient(180deg, #2e8a96 0%, rgba(143, 56, 56, 0.9599999785) 100%);
  box-sizing: border-box;
  padding-bottom: 87.8rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;

  .rectangle-10-PLL {
    flex-shrink: 0;
    margin-bottom: 6.6rem;
    width: 100%;
    height: 12.5rem;
    background-color: #5b7ba0;
  }
  .frame-1-gaL {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin-left: 5.9rem;
    width: 376.7rem;
    overflow: hidden;
    position: relative;

    .auto-group-kmrr-ZXe {
      display: flex;
      align-items: flex-end;
      flex-shrink: 0;
      width: 100%;

      .image-1-hNx {
        flex-shrink: 0;
        margin-right: 248rem;
        width: 74rem;
        height: 71.2rem;
        object-fit: cover;
        vertical-align: top;
      }
      .auto-group-72sa-1eY {
        flex-shrink: 0;
        margin-bottom: 2.7rem;
        width: 54.7rem;
        align-items: center;
        display: flex;
        flex-direction: column;

        .auto-group-znak-8UG {
          margin-bottom: 6.7rem;
          width: 100%;
          height: 14.6rem;
          position: relative;
          flex-shrink: 0;

          .rectangle-6-G4g {
            box-sizing: border-box;
            left: 0;
            top: 0;
            border: solid 0.1rem #000000;
            background-color: #dabfbf;
            border-radius: 3rem;
            width: 54.7rem;
            height: 14.5rem;
            position: absolute;
          }
          .home-Vbe {
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            height: 11.7rem;
            left: 10rem;
            top: 2.9rem;
            line-height: 1.2125;
            color: #391212;
            width: 28.1rem;
            position: absolute;
            font-size: 9.6rem;
            font-weight: 900;
          }
        }
        .auto-group-c7pe-9gC {
          line-height: 1.2125;
          color: #3f2525;
          flex-shrink: 0;
          height: 14.5rem;
          font-size: 9.6rem;
          justify-content: center;
          background-color: #dabfbf;
          width: 100%;
          white-space: nowrap;
          box-sizing: border-box;
          font-weight: 900;
          font-family: Inter, 'Source Sans Pro';
          border: solid 0.1rem #000000;
          border-radius: 3rem;
          display: flex;
          align-items: center;
        }
      }
    }
    .auto-group-pmu2-nz4 {
      flex-direction: column;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 7.9rem 0rem 0rem 32.4rem;
      width: 100%;
      align-items: flex-end;
      display: flex;

      .auto-group-y7ny-WQG {
        white-space: nowrap;
        align-items: center;
        font-weight: 900;
        justify-content: center;
        border: solid 0.1rem #000000;
        box-sizing: border-box;
        background-color: #dabfbf;
        height: 14.5rem;
        font-size: 9.6rem;
        display: flex;
        flex-shrink: 0;
        width: 54.7rem;
        font-family: Inter, 'Source Sans Pro';
        border-radius: 3rem;
        line-height: 1.2125;
        color: #401414;
      }
      .auto-group-xftk-ZtL {
        width: calc(100% - 4.6rem);
        display: flex;
        align-items: flex-end;
        flex-shrink: 0;
        margin: 0rem 0rem 112.3rem 4.6rem;

        .hello-im-priya-studentdesignerdeveloper-eun {
          font-size: 12.8rem;
          font-weight: 900;
          line-height: 1.2125;
          color: #250f0f;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          margin: 0rem 130.4rem 5.6rem 0rem;
          max-width: 154.6rem;

          .hello-im-priya-studentdesignerdeveloper-eun-sub-0 {
          }
          .hello-im-priya-studentdesignerdeveloper-eun-sub-1 {
            font-size: 9.6rem;
            font-weight: 900;
            line-height: 1.2125;
            color: #eae0e0;
            font-family: Inter, 'Source Sans Pro';
          }
        }
        .auto-group-8yjx-Uvk {
          width: 54.7rem;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .auto-group-jxlu-Rb6 {
            font-weight: 900;
            color: #421717;
            white-space: nowrap;
            background-color: #dabfbf;
            border-radius: 3rem;
            font-size: 9.6rem;
            flex-shrink: 0;
            box-sizing: border-box;
            width: 100%;
            line-height: 1.2125;
            display: flex;
            align-items: center;
            justify-content: center;
            border: solid 0.1rem #000000;
            margin-bottom: 10.6rem;
            height: 14.5rem;
            font-family: Inter, 'Source Sans Pro';
          }
          .auto-group-yrnk-Fq2 {
            width: 100%;
            height: 14.7rem;
            position: relative;
            flex-shrink: 0;

            .rectangle-8-bdz {
              box-sizing: border-box;
              background-color: #dabfbf;
              border-radius: 3rem;
              width: 54.7rem;
              height: 14.5rem;
              left: 0;
              top: 0;
              position: absolute;
              border: solid 0.1rem #000000;
            }
            .hobbies-tsz {
              color: #321515;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              width: 40rem;
              top: 3rem;
              font-weight: 900;
              line-height: 1.2125;
              height: 11.7rem;
              position: absolute;
              left: 6.1rem;
              font-size: 9.6rem;
            }
          }
        }
      }
      .auto-group-dvww-PJx {
        margin-right: 5.7rem;
        width: calc(100% - 5.7rem);
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;

        .auto-group-pejc-ic8 {
          box-sizing: border-box;
          padding: 18.6rem 34rem 16.8rem 17.8rem;
          height: 61.2rem;
          background-repeat: no-repeat;
          background-image: url('REPLACE_IMAGE:7:3');
          margin-right: 98.5rem;
          width: 83.1rem;
          background-size: cover;
          background-position: center;
          flex-shrink: 0;

          .about-me-dDJ {
            max-width: 31.3rem;
            font-size: 9.6rem;
            font-weight: 700;
            line-height: 1.3425;
            color: #000000;
            font-family: Tienne, 'Source Sans Pro';
          }
        }
        .i-pursuing-master-of-computer-application-student-at-crescent-institute-science-and-technology-programming-in-javapython-KM2 {
          font-weight: 700;
          line-height: 1.3425;
          color: #ffffff;
          font-family: Tienne, 'Source Sans Pro';
          flex-shrink: 0;
          margin-top: 16.3rem;
          max-width: 157rem;
          font-size: 9.6rem;
        }
      }
    }
  }
}
